version: "3.2"

volumes:
  postgres:
    driver: local

secrets:
  service-account-key:
    file: ./service_account_key.json

services:
 postgres:
   restart: always
   image: postgres:latest
   environment:
     POSTGRES_USER: openoversight
     POSTGRES_PASSWORD: terriblepassword
     POSTGRES_DB: openoversight-dev
   volumes:
     - postgres:/var/lib/postgresql/data
   ports:
     - "5433:5432"

 web:
   restart: always
   build:
      context: .
      args:
      - DOCKER_BUILD_ENV
      - MAKE_PYTHON_VERSION
      dockerfile: ./dockerfiles/web/Dockerfile
   environment:
     APPROVE_REGISTRATIONS: "${APPROVE_REGISTRATIONS}"
     AWS_ACCESS_KEY_ID: "${AWS_ACCESS_KEY_ID}"
     AWS_DEFAULT_REGION: "${AWS_DEFAULT_REGION}"
     AWS_SECRET_ACCESS_KEY: "${AWS_SECRET_ACCESS_KEY}"
     FACE_ACCESS_KEY_ID: "${FACE_ACCESS_KEY_ID}"
     FACE_SECRET_ACCESS_KEY: "${FACE_SECRET_ACCESS_KEY}"
     S3_BUCKET_NAME: "${S3_BUCKET_NAME}"
     OO_HELP_EMAIL: "alice@openoversightva.org"
     OO_SERVICE_EMAIL: "alice@openoversightva.org"
     FLASK_APP: OpenOversight.app
     FLASK_DEBUG: 1
     ENV: "${ENV:-development}"
   volumes:
     - ./OpenOversight/:/usr/src/app/OpenOversight/:z
   secrets:
     - source: service-account-key
       target: /usr/src/app/service_account_key.json
   user: "${UID:?Docker-compose needs UID set to the current user id number. Try 'export UID' and run docker-compose again}"
   links:
     - postgres:postgres
   expose:
     - "3000"
   ports:
     - "3000:3000"
