{% extends 'base.html' %}

{% block title %}View News Post{% endblock %}

{% from "bootstrap4/form.html" import render_hidden_errors, render_field %}

{% block content %}
<div class="container theme-showcase" role="main">

  {% if (post) %}
    <article class="post">
      <header>
        <div>
          <h1>{{ post.title }}</h1>
          <div class="about">{% if lawsuit.case_link %}
                              <a href="{{ lawsuit.case_link }}" target="_blank">View on CourtListener <i class="fa fa-external-link"></i></a>
                              {% endif %}</div>
        </div>
        {% if 1 == 2 %}
          <a class="action" href=" url_for('main.edit_post', post_id=post.id) ">Edit Post</a>
        {% endif %}
      </header>
      <p class="body"></p>
    </article>
  {% else %}

  {% endif %}

</div>
{% endblock %}
