{% extends "base.html" %}
{% from "bootstrap4/form.html" import render_hidden_errors, render_field %}
{% block title %}Volunteer Login - OpenOversight{% endblock %}
{% block meta %}<meta name="description" content="Volunteer login for OpenOversightVA">{% endblock %}

{% block content %}
<div class="container theme-showcase" role="main">

<div class="page-header">
    <h1>Login</h1>
</div>
<div class="col-md-6">
    <form class="form" method="post" role="form">
        {{ form.hidden_tag() }}
        render_hidden_errors(form)

        {{ render_field(form.email, autofocus="autofocus") }}
        {{ render_field(form.password) }}
        {{ render_field(form.remember_me) }}
        {{ render_field(form.submit, id="submit", button_map={'submit':'primary'}) }}
    </form>
    <br>
    <p>Forgot your password? <a href="{{ url_for('auth.password_reset_request') }}">Click here to reset it</a>.</p>
    <p>New user? <a href="{{ url_for('auth.register') }}">Click here to register</a>.</p>
</div>

</div>
{% endblock %}
